.App {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(59,232,218,1) 0%, rgba(45,205,204,1) 44%, rgba(16,141,167,1) 100%, rgba(174,221,231,1) 100%);
    z-index: -1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }


.btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: aquamarine 3px solid;
  border-radius: 3px;
  cursor: pointer;
  transition: border 0.1s ease-in-out;
  margin-top: 20px;
  background-color: #fcb3ed;
}
 /* .btn:active {
  border:white 3px solid;
} */
/* .btn:active .bar {
  background-color: pink;
}
.btn:active .icon {
  color: pink;
}  */
.btn .bar {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 3px;
  height: 20px;
  border-radius: 3px;
  background-color: #428d99;
  transform-origin: center;
  transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
}
.btn.pause .bar-1 {
  transform: translateX(13.5px) translateY(0px) rotate(0deg);
  -webkit-transform: translateX(13.5px) translateY(0px) rotate(0deg);
  -ms-transform: translateX(13.5px) translateY(0px) rotate(0deg);
}
.btn.pause .bar-2 {
  transform: translateX(24px) translateY(0px) rotate(0deg);
  -webkit-transform: translateX(24px) translateY(0px) rotate(0deg);
  -ms-transform: translateX(24px) translateY(0px) rotate(0deg);
}
.btn.play .bar-1 {
  transform: translateX(20px) translateY(-5px) rotate(-55deg);
  -webkit-transform: translateX(20px) translateY(-5px) rotate(-55deg);
  -ms-transform: translateX(20px) translateY(-5px) rotate(-55deg);
}
.btn.play .bar-2 {
  transform: translateX(20px) translateY(5px) rotate(-125deg);
  -webkit-transform: translateX(20px) translateY(5px) rotate(-125deg);
  -ms-transform: translateX(20px) translateY(5px) rotate(-125deg);
}
.btn .icon {
  display: block;
  margin: auto;
  margin-top: 10px;
  font-size: large;
  color: #428d99;
}


.setting-container {
  width: 80px;
  padding: 10px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  flex-direction: column;
  z-index: 9999;
  transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
  min-height: 180px;
}

.setting-container .icon-fixed {
  font-size: x-large;
  position: fixed;
  top: 20px;
  color: pink;
  transition: transform 0.9s ease-in-out, background 0.1s ease-in-out;
}

.setting-container .icon-fixed:active {
  color: aqua;
}

.hidden {
  transform: translateX(100px) translateY(0px) rotate(0deg);
  -webkit-transform: translateX(100px) translateY(0px) rotate(0deg);
  -ms-transform: translateX(100px) translateY(0px) rotate(0deg);
}

.hidden .icon-fixed {
  transform: translateX(-100px) translateY(0px) rotate(0deg);
  -webkit-transform: translateX(-100px) translateY(0px) rotate(0deg);
  -ms-transform: translateX(-100px) translateY(0px) rotate(0deg);
}

.board-game {
  position: relative;
  min-width: 400px;
  min-height:400px;
  width: 400px;
  height: 400px;
  margin: auto;
  z-index: -1;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.board-game .number {
  width: 40px;
  height: 40px;
}

.board-game .number div {
  border-radius: 50% 50%;
  border: red 1px solid;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.board-game .number .player1 {
  background-color: aquamarine;
  color: gray;
}

.board-game .number .player2 {
  background-color: #fcb3ed;
  color: gray;
}

.board-game .number div .current {
  color: red;
}

.board-game .number .available:active {
  background-color: rgba(16,141,167,1);
  color: #fff;
}

.form-onboard {
  position: relative;
  min-width: 400px;
  min-height:400px;
  width: 800px;
  height: 800px;
  margin: auto;
  z-index: -1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.form-onboard .user-name {
  background-color: inherit;
  border: none;
  border-bottom: paleturquoise 2px solid;
  font-size: large;
  padding: 5px 10px;
  text-align: center;
}

.form-onboard .btn-onboard {
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
  color: brown;
  cursor: pointer;
  border: #428d99 2px solid;
  border-radius: 15px;
  padding: 10px;
  width: 160px;
  text-align: center;
}

.form-onboard .btn-onboard:active {
  color: teal;
  background-color: thistle;
}

input:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: brown;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: brown;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: brown;
}

.form-onboard .title {
  font-size: xx-large;
  font-weight: bold;
  color: brown;
  overflow: visible;
}

.ready-dot {
  width: 10px;
  height: 10px;
  border: gray 1px solid;
  background-color: gray;
  border-radius: 50%;
}